.product{
    display: flex;
    flex-direction: column;
    width: 1445px;
    align-items: center;
}
body{
    display: flex;
    justify-content: center;
}
#heder{
    height: 60px;
    background-color: rgba(245, 245, 245,0.2);
    width: 100%;
    align-items: center;
}
#heder{
    display: flex;
    justify-content: space-around;
}
#heder_left{
    width: 300px;
    display: flex;
    justify-content: space-around;
}
#heder_left p{
    width: 80px;
    text-align: center;
}
#heder_left p:hover{
    font-weight: bold;
}
#heder_right{
    display: flex;
    justify-content: space-around;
}
#search_heder1{
    border: 1px solid gray;
    border-radius: 8px;
}
#heder_right input{
    height: 40px;
    border: none;
    outline: none !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
#search_heder1 label{
    margin-left: 10px;
    margin-right: 8px;
}
#search_heder1:hover{
    background-color: black;
    color: white;
    border-color:black;
    transition: 1.5s;
}
#anhnen{
    height: 390px;
    background: url('/img/banh.png') no-repeat ;
    background-size: 100%;
    width: 100%;
    position: relative;
}
#anhnen_text{
    position: absolute;
    font-size: 19px;
    margin-left: 129px;
    margin-top: 50px;
    width: 355px;
}
#menu{
    height: 175px;
    width: 1175px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
}
#menu_left{
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu_left_thanhdoc::after{
    position: absolute;
    content: "";
    left: 0;
    border-left: 1px solid rgba(0, 128, 0,0.8);
    top: 50%;
    height: 25px;
    transform: translateY(-50%);
}
#menu_left div {
    width: 180px;
    height: 55px;
    text-align: center;
    border-radius: 5px;
    height: 50px;
    position: relative;
}
#menu_right div{
    width: 200px;
    height: 55px;
    border-radius: 5px;
    height: 50px;
    text-align: center;
}

#menu_left div:hover {
    border: none;
    background-color: rgba(0, 128, 0,0.8);
    color: white;
    transition: 1s;
}
#menu_right{
    display: flex;
    align-items: center;
}

.menu_search{
    display: flex;
}

.menu_search label{
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
    font-size: 20px
}

.menu_search input{
    width: 140px;
    border: none;
    outline: none !important;
    border-bottom: 1px solid gray;
}
.menu_search:hover{
    box-shadow: 0 0 5px 2px green, 1px 0 2px blueviolet;
    
    transition: 1.5s;
}
.menu_search input:hover{
    border: none;
}
#sortby_div p{
    width: 135px;
    height: 50px;
    float: right;
    background-color: rgba(220, 220, 220,0.5);
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
}
#sortby_div select{
    border: none;
    background-color: rgba(220, 220, 220,0);
}

#content{
    width: 1175px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#content .div_product{
    width: 270px;
    height: 485px;
    margin-bottom: 70px;
}
.div_product .img{
    height: 335px;
    width: 270px;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 3px whitesmoke;
    border-radius: 8px;
    position: relative;
}
#product_1 .img{
    background: url('/img/image1.png') no-repeat;
    background-size: 100%;
}
#product_2 .img{
    background: url('/img/image2.png') no-repeat;
    background-size: 100%;
}
#product_3 .img{
    background: url('/img/image3.png') no-repeat;
    background-size: 100%;
}
#product_4 .img{
    background: url('/img/image4.png') no-repeat;
    background-size: 100%;
}
#product_5 .img{
    background: url('/img/image5.png') no-repeat;
    background-size: 100%;
}
#product_6 .img{
    background: url('/img/image6.png') no-repeat;
    background-size: 100%;
}
#product_7 .img{
    background: url('/img/image7.png') no-repeat;
    background-size: 100%;
}
#product_8 .img{
    background: url('/img/image8.png') no-repeat;
    background-size: 100%;
}
#product_9 .img{
    background: url('/img/image9.png') no-repeat;
    background-size: 100%;
}
#product_10 .img{
    background: url('/img/image10.png') no-repeat;
    background-size: 100%;
}
#product_11 .img{
    background: url('/img/image11.png') no-repeat;
    background-size: 100%;
}
#product_12 .img{
    background: url('/img/image12.png') no-repeat;
    background-size: 100%;
}
.div_product .best_product{
    height: 30px;
    width: 80px;
    position: absolute;
    background-color: rgba(255, 165, 0,0.8);
    color: rgb(223, 113, 34);
    border-radius: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.div_product .new_product{
    height: 30px;
    width: 45px;
    position: absolute;
    background-color: rgba(255, 165, 0,0.8);
    color: rgb(223, 113, 34);
    border-radius: 15px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.Product_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.Product_title_top h3{
    margin-top: 20px;
    margin-bottom: 5px;
}
.Product_title_top p{
    margin-top: 0;
}
.Product_title_bottom{
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}
.Product_title_bottom img{
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
}
.Product_title_bottom div{
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: space-between;
}
.Product_title_bottom p{
    font-size: 18px;
    color: rgba(128, 128, 128,0.75);
}
.Product_title_bottom h1{
    font-size: 35px;
}
#thanh_truyen{
    width: 100%;
    display: flex;
    height: 128px;
    justify-content: center;
    align-items: center;
    transform: translateY(-40px);
}
#thanh_truyen_center{
    width: 275px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#thanh_truyen_center::after{
    content: "";
    background: url('/img/Phai.png') no-repeat;
    color: gray;
    width: 30px;
    height: 30px;
    transform: translateY(-4px);
}
#thanh_truyen_center::before{
    content: "";
    background: url('/img/Trai.png') no-repeat;
    color: gray;
    width: 30px;
    height: 30px;
    transform: translateY(-4px);
    border-radius: 50%;
}

#thanh_truyen_center div{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:50% ;
    color: gray;
}
#thanh_truyen_center div:hover{
    background-color: rgba(210, 237, 211,0.5);
    color: rgb(18, 117, 18);
}
#foot{
    height: 435px;
    background-color: #21262d;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
}
#foot_left{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 500px;
}
#foot_left div{
    height: 250px;
    width: 150px;
}
#left_foot a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
#left_foot select{
    width: 130px;
    height: 35px;
    border-radius: 5px;
    border-color: white;
    background-color: #21262d;
    color: white;
}
.font{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
#foor_right{
    font-family: Arial, Helvetica, sans-serif;
}
#foot_subscribe{
    display: flex;
    width: 430px;
    height: 50px;
    justify-content: center;
    border: 1px solid white;
    border-radius: 8px;
}
#foot_subscribe label{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 22px;
    margin-top: 13px;
}
#foot_subscribe input{
    width: 255px;
    outline: none !important;
    background-color:  #21262d;
    color: white;
    font-size: 18.5px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}
#foot_subscribe button{
    width: 125px;
    background-color: rgba(8, 196, 143, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    font-size: 20px;
    outline: none !important;
}
#right_foot #icon{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 128px;
    font-size: 25px;
}
#icon a:first-child{
    color: rgb(62, 156, 219);
}
#icon a:nth-child(2){
    color: rgb(34, 34, 238);
}
#icon a:nth-child(3){
    color: rgba(43, 43, 174, 0.872);
}
#icon a:last-child{
    color: rgb(241, 50, 50);
}

ul {
    padding: 0;
    width: 379px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

